@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*General General*/
* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: white;
}

a {
	text-decoration: none;
}

.navbar {
	background-color: black;
	display: flex;
	justify-content: end;
}

.navbar_top {
	background-color: rgba(240, 248, 255, 0);
}

#navbar_right_container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar_logo {
	height: 60%;
	margin-left: 1rem;
}

#navbar_logo img {
	height: 100%;
}

.background_imgs {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.flexbox {
	display: flex;
}

.list {
	list-style-type: none;
	padding: 0;
}

.list li a {
	text-decoration: none;
}

.navbar_hidden {
	transform: translateY(-200px);
}

.hero {
	height: 100%;
}

.hero_desc {
	text-align: center;
}

.center_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_button:hover {
	background-color: white;
	color: black;
}

/*Desktop*/
/*General*/
footer {
	grid-area: foo;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding-top: 1rem;
}

footer p {
	opacity: 0.5;
	font-size: 0.75rem;
}

#footer_socials {
	display: flex;
}

#footer_socials li {
	margin: 0 0.4rem 0 0.4rem;
}

.footer_icons {
	height: 50px;
	width: 50px;
}

.footer_links {
	font-size: 0.9rem;
	display: inline-block;
}

.navbar {
	position: fixed;
	height: 80px;
	width: 100%;
	padding-right: 0.94rem;
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s;
}

#navmenu {
	height: 0;
	width: 0;
}

#navbar_links {
	font-size: 0.95rem;
}

.hero h1 {
	font-size: 6rem;
	text-align: center;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

.hero p {
	font-size: 1.8rem;
	text-align: center;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

.section {
	padding: 0 2rem 0 4rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section_button {
	width: 169px;
	height: 65px;
	margin-top: 2rem;
	border: white solid 2px;
	transition: 0.3s;
	font-size: 1.2rem;
	padding: 0.4rem;
}

#navbar_links li {
	display: inline-block;
	margin: 0 1rem 0 1rem;
}

#burger {
	display: none;
}

/*Home*/
#home_latest {
	grid-area: lae;
}

#home_skynet {
	grid-area: sky;
}

#home_rocket {
	grid-area: roc;
}

#home_grid_wrapper {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 300vh 200px;
	grid-template-areas:
		"hea"
		"mai"
		"foo";
}

#home_main_grid_wrapper {
	grid-area: mai;
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 100vh 100vh;
	grid-template-areas:
		"lae"
		"sky"
		"roc";
}

.home_h2 {
	font-size: 6rem;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

.home_desc {
	font-size: 2rem;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

#home_hero {
	background-image: url("../img/home_hero.jpg");
}

#home_latest {
	background-image: url("../img/home_latest.jpg");
}

#home_skynet {
	background-image: url("../img/home_skynet.jpg");
}

#home_rocket {
	background-image: url("../img/home_rocket.jpg");
}

/*About/history*/
#about_hero {
	background-image: url("../img/about_hero.jpg");
}

#about_timeline_04 {
	grid-area: zf;
}

#about_timeline_04_img_container {
	grid-area: i4;
}

#about_timeline_08 {
	grid-area: ze;
}

#about_timeline_08_img_container {
	grid-area: i8;
}

#about_timeline_12 {
	grid-area: ot;
}

#about_timeline_12_img_container {
	grid-area: i2;
}

#about_timeline_15 {
	grid-area: of;
}

#about_timeline_15_img_container {
	grid-area: i5;
}

#about_timeline_20 {
	grid-area: tz;
}

#about_timeline_20_img_container {
	grid-area: i0;
}

#about_timeline_line {
	grid-area: li;
	background-color: rgb(0, 0, 0);
}

#about_grid_wrapper {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 1fr 200px;
	grid-template-areas:
		"hea"
		"mai"
		"foo";
}

.about_timeline_img_container {
	height: 100%;
	width: 100%;
}

#about_main_grid_wrapper {
	grid-area: mai;
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50vh;
	grid-template-areas:
		"tim"
		"fut";
}

#about_future {
	grid-area: fut;
	background-image: url("../img/about_future.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#about_timeline {
	grid-area: tim;
	display: grid;
	padding: 2rem 0 4rem 0;
	height: 100%;
	width: 100%;
	background-color: rgb(255, 255, 255);

	grid-template-columns: 1fr 7px 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"i4 li zf"
		"ze li i8"
		"i2 li ot"
		"of li i5"
		"i0 li tz";
}

.about_timeline_img {
	object-fit: cover;
	padding: 4rem;
	height: 100%;
	width: 100%;
}

.about_timeline {
	padding: 0 1rem 0 5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.about_timeline::after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	background-color: rgb(255, 255, 255);
	border: 8px rgb(0, 0, 0) solid;
	border-radius: 50%;
}

.about_timeline_desc {
	font-size: 1.7rem;
	color: black;
}

.about_timeline_title {
	font-size: 5rem;
	color: black;
}

#about_future_title {
	font-size: 3rem;
}

#about_future_desc {
	font-size: 1.5rem;
}

/*Store*/
#store_grid_wrapper {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh auto 200px;
	grid-template-areas:
		"hea"
		"mai"
		"foo";
}

#store_main_grid_wrapper {
	grid-area: mai;
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100vh 100px auto;
	grid-template-areas:
		"sen bro"
		"sig sig"
		"aal aal";
}

#store_send_space {
	grid-area: sen;
	background-image: url("../img/store_mail.jpg");
}

#store_signup {
	grid-area: sig;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: black;
	padding: 0 1rem 0 1rem;
}

#store_signup_button {
	height: 50px;
	width: 100px;
	margin-top: 0;
}

#store_email_box {
	border: 0;
	outline: 0;
	border-bottom: 1px solid rgb(255, 255, 255);
	background-color: black;
	height: 40px;
	width: 200px;
	font-size: 1rem;
	margin-left: 1rem;
}

#store_signup > p {
	font-size: 1.5rem;
	font-weight: bold;
}

#store_broadband {
	grid-area: bro;
	background-image: url("../img/store_broadband.jpg");
}

#store_hero {
	grid-area: hea;
	background-image: url("../img/store_hero.jpg");
}

#store_all {
	height: 100%;
	width: 100%;
	padding: 5rem;
	grid-area: aal;
	background-color: rgb(255, 255, 255);
}

#store_all h2 {
	font-size: 3.4rem;
	margin-bottom: 2rem;
	color: black;
	text-align: center;
}

#store_products_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5rem;
}

.store_product {
	min-width: 0;
}

.store_product_img {
	width: 100%;
	height: auto;
	transition: all 0.1s ease;
}

.store_product_img_container:hover img {
	filter: brightness(50%);
}

.store_product_img_container a {
	position: absolute;
	display: none;
}

.store_product_img_container:hover a {
	display: inline;
}

.store_product_title {
	color: black;
	font-size: 1.4rem;
}

.store_product_price {
	color: black;
	font-size: 0.9rem;
}

.store_titles {
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

.store_desc {
	text-shadow: 0 0 5px rgb(0, 0, 0);
}

#navbar_cart {
	height: 40%;
	width: auto;
	margin-left: 1rem;
	order: 1;
}

#navbar_cart img {
	height: 100%;
	width: auto;
}

/*Mug*/
#mug_grid_wrapper {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 80px 1fr 200px;
	grid-template-areas:
		".  "
		"mai"
		"foo";
}

#mug_main_grid_wrapper {
	grid-area: mai;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 90vh;
	grid-template-areas: "mss mic";
}

#mug_slideshow {
	max-width: 100%;
	padding: 5rem;
	margin-right: 0.5rem;
	grid-area: mss;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mug_info_container {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: mic;
}

.mug_arrows {
	position: absolute;
	top: 50%;
	height: 35px;
	width: 35px;
	background-color: rgba(0, 0, 0, 0.411);
	padding: 0.3rem;
	border-radius: 50%;
	transition: all 0.2s;
}

.mug_arrows:hover {
	background-color: black;
	cursor: pointer;
}

#mug_right_arrow {
	right: 0;
	margin-right: 1rem;
}

#mug_left_arrow {
	left: 0;
	margin-left: 1rem;
}

.mug_pic {
	width: 100%;
	max-height: 100%;
	display: none;
	object-fit: contain;
}

.mug_pic_active {
	display: block;
}

#mug_info h1 {
	color: black;
	font-size: 2rem;
}

#mug_price strong {
	color: black;
}

#mug_desc {
	margin: 0.5rem 0 0.5rem 0;
	color: black;
}

#mug_info h2 {
	color: black;
	margin-top: 0.3rem;
}

#mug_color_container {
	margin: 0.5rem 0 0.5rem 0;
}

.mug_color {
	border: 1px rgba(0, 0, 0, 0.322) solid;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline-block;
	transition: all 0.3s;
}

.mug_color:hover {
	border-color: red;
	cursor: pointer;
}

#mug_color_container :nth-child(1) {
	background-color: rgb(247, 173, 247);
}

#mug_color_container :nth-child(2) {
	background-color: rgb(170, 255, 248);
}

#mug_color_container :nth-child(3) {
	background-color: rgb(255, 170, 170);
}

#mug_cart_button {
	border: 2px solid black;
	color: black;
	padding: 0.5rem;
	width: auto;
	transition: 0.3s;
	display: inline-block;
}

#mug_cart_button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

/*Mobile*/
@media screen and (max-width: 760px) {
	/*General*/
	.navbar {
		position: fixed;
		height: 60px;
		width: 100%;
		padding-right: 0.94rem;
		z-index: 2;

		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.2s;
	}

	#navmenu {
		position: fixed;
		margin-top: 55px;
		top: -110vh;
		background-color: rgba(0, 0, 0, 0.945);
		height: 100%;
		width: 100%;
		transition: all 0.3s;
	}

	#navmenu * {
		background-color: rgba(0, 0, 0, 0);
	}

	#navmenu_list {
		height: 60%;
		width: 100%;
		padding: 0 2.5rem 0 2.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#navmenu_list li {
		border-bottom: rgba(255, 255, 255, 0.37) solid 1px;
		padding-bottom: 7px;
	}

	#navmenu_list li a {
		font-size: 1.1rem;
		color: rgb(255, 255, 255);
	}

	#navbar_links {
		display: none;
	}

	#burger div {
		width: 25px;
		height: 2px;
		background-color: rgb(255, 255, 255);
		margin: 0.31rem;
		border-radius: 10%;
		transition: all 0.3s;
	}

	#burger {
		cursor: pointer;
		display: block;
	}

	/*On burger toggle*/
	.no_scroll {
		overflow: hidden;
	}

	.toggle #line1 {
		transform: translate(0, 7px);
	}

	.toggle #line3 {
		transform: translate(0, -7px);
	}

	.nav_active {
		transform: translateY(110vh);
		z-index: 1;
	}

	.section_button {
		width: 130px;
		height: 50px;
		margin-top: 1.5rem;
		border: white solid 2px;
	}

	footer {
		grid-area: foo;
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		padding-top: 1rem;
	}

	footer p {
		opacity: 0.5;
		font-size: 0.75rem;
	}

	#footer_socials {
		display: flex;
	}

	#footer_socials li {
		margin: 0 0.4rem 0 0.4rem;
	}

	.footer_icons {
		height: 40px;
		width: 40px;
	}

	.footer_links {
		font-size: 0.9rem;
		display: inline-block;
	}

	.footer_desktop {
		display: none;
	}

	.hero h1 {
		font-size: 2.7rem;
	}

	.hero p {
		font-size: 1.2rem;
	}

	.section {
		padding: 0 2rem 0 2rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.section_button {
		width: 130px;
		height: 50px;
		margin-top: 1.5rem;
		border: white solid 2px;
		transition: 0.3s;
		font-size: 1rem;
	}

	/*Home*/
	#home_grid_wrapper {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100vh 300vh 200px;
		grid-template-areas:
			"hea"
			"mai"
			"foo";
	}

	#home_main_grid_wrapper {
		grid-area: mai;
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100vh 100vh 100vh;
		grid-template-areas:
			"lae"
			"sky"
			"roc";
	}

	.home_h2 {
		font-size: 3rem;
	}

	.home_desc {
		font-size: 1rem;
	}

	/*About*/
	#about_grid_wrapper {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100vh 1fr 200px;
		grid-template-areas:
			"hea"
			"mai"
			"foo";
	}

	#about_main_grid_wrapper {
		grid-area: mai;
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 50vh;
		grid-template-areas:
			"tim"
			"fut";
	}

	#about_future {
		grid-area: fut;
		background-image: url("../img/about_future.jpg");
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	#about_timeline {
		grid-area: tim;
		display: grid;
		padding: 2rem 0 4rem 0;
		height: 100%;
		width: 100%;
		background-color: rgb(255, 255, 255);

		grid-template-columns: 1fr 4px 1fr;
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas:
			"i4 li zf"
			"ze li i8"
			"i2 li ot"
			"of li i5"
			"i0 li tz";
	}

	.about_timeline_img {
		object-fit: cover;
		padding: 1rem;
	}

	.about_timeline {
		padding: 0 1rem 0 1rem;
	}

	.about_timeline::after {
		content: " ";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 20px;
		width: 20px;
		background-color: rgb(255, 255, 255);
		border: 5px rgb(0, 0, 0) solid;
		border-radius: 50%;
	}

	.about_timeline_desc {
		font-size: 0.8rem;
		color: black;
	}

	.about_timeline_title {
		font-size: 2rem;
		color: black;
	}

	#about_future_title {
		font-size: 2rem;
	}

	#about_future_desc {
		font-size: 0.9rem;
	}

	/*Store*/
	#store_grid_wrapper {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100vh auto 200px;
		grid-template-areas:
			"hea"
			"mai"
			"foo";
	}

	#store_main_grid_wrapper {
		grid-area: mai;
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50vh 50vh auto auto;
		grid-template-areas:
			"sen"
			"bro"
			"sig"
			"aal";
	}

	#store_all {
		height: 100%;
		width: 100%;
		padding: 2rem;
		grid-area: aal;
		background-color: rgb(255, 255, 255);
	}

	#store_all h2 {
		font-size: 2rem;
		color: black;
		text-align: center;
	}

	#store_products_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	.store_product {
		min-width: 0;
	}

	.store_product_img {
		width: 100%;
		height: auto;
	}

	.store_product_title {
		color: black;
		font-size: 0.9rem;
	}

	.store_product_price {
		color: black;
		font-size: 0.9rem;
	}

	#store_signup {
		flex-direction: column;
		padding: 1rem;
	}

	#store_signup_button {
		height: 50px;
		width: 100px;
	}

	#store_email_box {
		height: 40px;
		width: 100%;
		font-size: 1rem;
		margin-left: 0;
	}

	#store_signup > p {
		font-size: 1.1rem;
		text-align: center;
	}

	#navbar_cart {
		height: 40%;
		width: auto;
		margin-right: 1rem;
		display: block;
		order: 0;
	}

	#navbar_cart img {
		height: 100%;
		width: auto;
	}

	/*Mug*/
	#mug_grid_wrapper {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 200px;
		grid-template-areas:
			"mai"
			"foo";
	}

	#mug_main_grid_wrapper {
		grid-area: mai;
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			"mpc"
			"mic";
	}

	#mug_slideshow {
		position: relative;

		grid-area: mpc;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 80px 2rem 1rem 2rem;
		padding: 0;
	}

	.mug_arrows {
		position: absolute;
		top: 50%;
		height: 30px;
		width: 30px;
		background-color: rgba(0, 0, 0, 0.411);
		padding: 0.3rem;
		border-radius: 50%;
		transition: all 0.2s;
	}

	.mug_arrows:hover {
		background-color: black;
		cursor: pointer;
	}

	#mug_right_arrow {
		right: 0;
		margin-right: 1rem;
	}

	#mug_left_arrow {
		left: 0;
		margin-left: 1rem;
	}

	.mug_pic {
		display: none;
		width: 100%;
	}

	.mug_pic_active {
		display: block;
	}

	#mug_info_container {
		margin: 0.5rem 2rem 1rem 2rem;
		grid-area: mic;
		width: 80%;
		display: block;
	}

	#mug_info h1 {
		color: black;
		font-size: 2rem;
	}

	#mug_price {
		color: black;
	}

	#mug_desc {
		color: black;
	}

	#mug_info h2 {
		color: black;
		margin-top: 0.3rem;
	}

	#mug_color_container {
		margin-top: 0.5rem;
	}

	.mug_color {
		border: 1px rgba(0, 0, 0, 0.322) solid;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: inline-block;
		transition: all 0.3s;
	}

	.mug_color:hover {
		border-color: red;
		cursor: pointer;
	}

	#mug_color_container :nth-child(1) {
		background-color: rgb(247, 173, 247);
	}

	#mug_color_container :nth-child(2) {
		background-color: rgb(170, 255, 248);
	}

	#mug_color_container :nth-child(3) {
		background-color: rgb(255, 170, 170);
	}

	#mug_cart_button {
		border: 2px solid black;
		color: black;
		padding: 0.5rem;
		width: auto;
		transition: 0.3s;
		display: inline-block;
	}

	#mug_cart_button:hover {
		background-color: black;
		color: white;
	}
}
